<footer class="footer">
    <div class="container-fluid">

        <div class="row w-100">
            <div class="col w-100">
                <p class="text-center text-sm-start">@DateTime.Now.Year © Sistem Pemberkasan Badan Pendapatan Daerah Kota Surabaya.</p>

            </div>
        </div>
    </div>
</footer>
