<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Light Logo-->
        <a href="@Url.Action("Index", "Home")" class="logo logo-light">
            <span class="logo-sm">
                <img src="~/assets/images/logo-surabaya.png" alt="" height="35">
            </span>
            <span class="logo-lg">
                <img src="~/assets/images/logo-surabaya.png" alt="" height="45">
                <span class="text-white-75 fs-15">&nbsp; Bapenda</span>
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
            id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">
            <div id="two-column-menu">
            </div>
            <ul class="navbar-nav" id="navbar-nav">
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<div class="vertical-overlay"></div>
<!-- Left Sidebar End -->+